################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PracticaMVC/.vs/PracticaMVC/DesignTimeBuild
/PracticaMVC/.vs/PracticaMVC/v16/Server/sqlite3
/PracticaMVC/.vs/PracticaMVC/v16
/PracticaMVC/ConsoleApp/obj/Debug
/PracticaMVC/CulturaResourceAccess/obj
/PracticaMVC/DataTransferObject/obj
/PracticaMVC/DTOs/obj
/PracticaMVC/Interfaces/obj
/PracticaMVC/ConsoleApp/bin/Debug
/PracticaMVC/CulturaBusiness/obj/Debug
/PracticaMVC/CulturaResourceAccess/bin/Debug/netstandard2.0
/PracticaMVC/DTOs/bin/Debug/netstandard2.0
/PracticaMVC/Interfaces/bin/Debug/netstandard2.0
/PracticaMVC/packages
/PracticaMVC/ResourceAccess.Cultura/bin/Debug
/PracticaMVC/ResourceAccess.Cultura/obj/Debug
/PracticaMVC/ResourceAccess.DTOs/bin/Debug
/PracticaMVC/ResourceAccess.DTOs/obj/Debug
/PracticaMVC/ResourceAccess.Interfaces/bin/Debug
/PracticaMVC/ResourceAccess.Interfaces/obj/Debug
